*{
    background-color:slateblue;
    text-align: center;
}
h1{
    color:black;

}
h2{
    color: blueviolet;

}
.image{
    height:400px;
    width:300px;
}
P{
    font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
